header {
    padding: 1rem 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    .logo {
        float: left;
        padding: 0.9rem 1.75rem;
        display: inline-flex;
    }
    nav {
        ul {
            list-style: none;
            margin: 0 auto;
            padding: 0;
        }
    }
    .categories {
        margin: 0 auto;
        li {
            display: inline-block;
            a {
                margin: 0.4rem 1.25rem;
                font-weight: 600;
                text-transform: uppercase;
                padding: 0.67rem 1.25rem;
                display: block;
                cursor: pointer;
                background: $primary-color;
                color: #fff;
                border-radius: 3px;
                &:hover {
                    // color: $primary-color;
                }
                i {
                    margin-right: .75rem;
                }
            }
        }
    }
    .search {
        position: relative;
        width: 100%;
        max-width: 364px;
        margin: .4rem 0;
        input {
            padding: 1rem;
            border-radius: 5px;
            border: 1px solid $secondary-color;
            width: 100%;
        }
        i {
            position: absolute;
            right: 1rem;
            top: 1rem;
            font-size: 15px;
        }
    }
    .menu {
        margin: 0 auto;
        padding: 0;
        li {
            display: inline-block;
            a {
                margin: 0 1rem;
                font-weight: 600;
                text-transform: uppercase;
                padding: 1rem 0.5rem;
                display: block;
                cursor: pointer;
                &:hover {
                    color: $primary-color;
                }
                &.sign_up {
                    margin: 0 auto;
                    border-radius: 24px;
                    padding: 0.5rem 1.5rem;
                    border: 2px solid $primary-color;
                }
            }
        }
    }
}
